.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 200px;
  padding-top: 33px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .cover {
    padding-top: 115px;
    min-height: calc(480px - 115px);
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding-top: 195px;
    min-height: calc(640px - 195px);
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    padding-top: 245px;
    min-height: calc(740px - 245px);
    width: 93%;
  }
}