.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  text-decoration: none;
  background-size: cover;
  background-position: center;
  padding: 33px 0 33px;
  color: #ffffff;
  display: block;
}

.cover__overlay::before {
  content: "";
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .1s linear;
}

.cover__overlay:hover {
  cursor: pointer;
}

.cover__overlay:hover::before {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .cover__overlay {
    padding: 115px 0 115px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__overlay {
    padding: 195px 0 195px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    padding: 245px 0 245px;
    width: 93%;
    margin: auto;
  }

  .cover__overlay::before {
    box-sizing: border-box;
    width: 93%;
    margin: auto;
  }
}